DATABASE_URL=mongodb://root:password@mongodb:27017/phishing?authSource=admin

APP_URL=http://localhost:3000
PORT=3000
EMAIL_USER=msargsyan939@gmail.com
EMAIL_PASS="mbxe zedb srmm gboz"
JWT_USER_SECRET=phishing-secret
JWT_USER_TOKEN_EXPIRES_IN=1d
